<?xml version="1.0" ?>
<robot name="dasautonomeauto" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- =============== Link & Joint =============== -->
    <!-- Base Footprint -->


    <!-- Robot mechanical and motor parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="wheel_width" value="0.175" />
    <xacro:property name="clearance" value="${0.3/2.0}" />

    <!--  BASE FOOTPRINT  -->
    <link name="base_footprint"/>
    <joint name="base_link_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 -0.38"/>
        <parent link="base_link"/>
        <child link="base_footprint"/>
    </joint>

    <link name="base_link">
        <!-- <visual>
            <origin xyz="0 0 0.0" rpy="-1.5708 0 -1.5708" />
            <geometry>
              <mesh filename="file://$(find sdv_robot_description)/meshes/hook_pix.stl" scale="0.001 0.001 0.001"/>

            </geometry>
            <material name="Gray">
              <color rgba="1.0 0.0 0.0 1.0"/>
            </material>
        </visual> -->

        <visual>
          <origin xyz="0 0 1.3"  rpy="-1.5708 0 -1.5708" /> 
          <geometry>
            <mesh filename="file://$(find sdv_robot_description)/meshes/sdv.stl" />
          </geometry>
          <material name="Gray">
            <color rgba="1.0 1.0 1.0 1.0"/>
          </material>
        </visual>

    </link>


  <link name="rslidar">
  
  </link>

  <joint name="rslidar_base_mount_joint" type="fixed">
    <origin xyz="0 0 1.23" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="rslidar"/>
  </joint>



  <link name="velodyne">
      <visual>
        <origin xyz="0 0 0.0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.073" radius="0.04" />
        </geometry>
        <material name="Gray">
          <color rgba="1.0 0.0 0.0 1.0"/>
        </material>
      </visual>
  </link>

  <joint name="velodyne_base_mount_joint" type="fixed">
    <origin xyz="0 0 1.8" rpy="0 0.174533 0" />
    <!-- <origin xyz="0 0 1.23" rpy="0 0 0" /> -->

    <parent link="base_link"/>
    <child link="velodyne"/>
  </joint>


  <link name="warning_obstacle"/>

  <joint name="warning_base_mount_joint" type="fixed">
    <origin xyz="1.2 0.0 0.0" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="warning_obstacle"/>
  </joint>

</robot>
