<?xml version="1.0" ?>
<robot name="dasautonomeauto" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- =============== Link & Joint =============== -->
    <!-- Base Footprint -->


    <!-- Robot mechanical and motor parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="wheel_width" value="0.175" />
    <xacro:property name="clearance" value="${0.3/2.0}" />

    <!--  BASE FOOTPRINT  -->
    <!-- <link name="base_footprint"/>
    <joint name="base_link_joint" type="fixed">
        <origin rpy="0 0 0" xyz="0 0 -0.38"/>
        <parent link="chassis_link"/>
        <child link="base_footprint"/>
    </joint> -->

    <link name="chassis_link">
    </link>


  <!-- <link name="rslidar">
  
      <visual>
        <origin xyz="0 0 0.0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.073" radius="0.04" />
        </geometry>
        <material name="Gray">
          <color rgba="1.0 0.0 0.0 1.0"/>
        </material>
      </visual>
  </link>

  <joint name="rslidar_base_mount_joint" type="fixed">
    <origin xyz="0 0 1.23" rpy="0 0 0" />
    <parent link="chassis_link"/>
    <child link="rslidar"/>
  </joint> -->

  <link name="velodyne"/>

  <joint name="velodyne_base_mount_joint" type="fixed">
    <origin xyz="0 0 0.8" rpy="0 0 0" />
    <parent link="chassis_link"/>
    <child link="velodyne"/>
  </joint>

  <link name="default_cam">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0" />
      <geometry>

        <box size="0.03 0.08 0.02" />
      </geometry>
      <material name="Gray">
        <color rgba="1.0 0.0 0.0 1.0"/>
      </material>
    </visual>
  </link>

  <joint name="default_cam_base_mount_joint" type="fixed">
    <origin xyz="0.05 0 0.75" rpy="0 0 0" />
    <parent link="chassis_link"/>
    <child link="default_cam"/>
  </joint>

</robot>
